<table>
<thead>
 	 {% for arrkeys in profile %}
        <tr>
        {% for pkey in arrkeys|keys %}
            <th>{{ pkey }}</th>
        {% endfor %}
        </tr>
    {% endfor %}
</thead>
<tbody>
    {% for sub_array in profile %}
        <tr>
        {% for value in sub_array %}
            <td>{{ value }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
</tbody>
</table>